html, body {
   margin: 0;
   padding: 0;
 }
 
 #outer {
   margin: 5em;
   border: 1px solid #f00;
   height: 4em; 
   position: relative;   /*newly added, to make it the parent of #inner */
 }
 
 #inner {
   width: 6em;
   height: 4em;
   background-color: #999;
   position:absolute;   
   left: 1em;     
   
 }