
body {
   margin: 0 auto;
   min-width: 40em;
   max-width: 56em;
 }
 
 #header {
   background-color: #369;
   color: #fff;
 }
 /* step 5: new */
 #wrapper {
   margin: 0 14em 0 12em;
   padding: 0 1em;
 }
 /* end of new content */
 #main {
   float: left;  /* step 3: new*/
 }

 #sidebar {
   width: 13em; padding: 0 0.5em;
   background-color: #ff6;
   float: left;   /* step 3: new*/
 }
 
 #nav {
   width: 11em; padding: 0 0.5em;
   background-color: #ddd;
   float: left;   /* step 3: new*/
 }


 #footer {
   border-top: 1px solid #369;
   clear: left; 
 }